!!!
%html
  %head
    %title Qui&#8478;
  %body
    %form
      %label(for='search') Search
      %input(type='text' name='search' id='search')
      %button Search

    %p 100 events matched "engorged"
